<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/084c4d79e8.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Ubuntu&display=swap" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <title><?php $header ?></title>
</head>
<body>
<section class="bg">
</section>
<header class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="logo">
                <a href="/">
                    <div class="logo_text">
                        <p class="logo_text_name">СЗЖКХ <br><span>Сообщите нам о проблеме</span></p>
                    </div>
                    <div class="logo-img"><img src="../images/logo.png" alt="logo"></div>
                </a>
            </div>
        </div>
        <div class="col-md-8">
            <nav>
                <a href="#">Главная</a>
                <a href="#">Информация</a>
                <a href="#">Список заявок</a>
                <a href="#">Личный кабинет</a>
                <a href="#">Отзывы</a>
                <a href="#">Поддержка</a>
            </nav>
        </div>
    </div>
</header>

<section class="container">
    <div id="content">
        <form action="https://sczkh.tk/api/sendClaimJson" id="claim_form">
            <div class="address">
                <div class="map">
                    <div class="down-arrow">Вы здесь?</div>
                </div>
                <div class="map_text">
                    <h5>Где находится проблема?</h5>
                    <div class="checks">
                        <div>
                            <input type="radio" id="home" name="adress_type" value="home"
                                   checked onchange="homeClicked()">
                            <label for="home">В здании</label>
                        </div>

                        <div>
                            <input type="radio" id="in_street" name="adress_type" value="street"
                                   onchange="streetClicked()">
                            <label for="in_street">На улице</label>
                        </div>
                    </div>
                    <h6>Введите недостающие данные</h6>
                    <p>Если невозможно точно указать местоположение, как можно подробнее опишите в проблеме, что
                        находится рядом (номера домов, объекты и т.п.)</p>
                    <div class="form_info">
                        <div>
                            <label for="city">Город </label>
                            <select name="city" id="city" class="">

                                <option value=1">Воронеж</option>
                                <option value=2">Воронеж</option>
                            </select>

                        </div>
                        <div>
                            <label for="street">Улица</label>
                            <input id="street" type="text">

                        </div>
                        <div class="more upper_label">

                            <label for="more_info">Что рядом?</label>
                            <input id="more_info" type="text">

                        </div>
                        <div class="home_info">
                            <div>
                                <label for="home_number">Дом</label>
                                <input id="home_number" type="text">

                            </div>
                            <div>
                                <label for="porch">Подъезд</label>
                                <input id="porch" type="text">

                            </div>
                            <div>
                                <label for="floor">Этаж</label>
                                <input id="floor" type="text">

                            </div>
                            <div>
                                <label for="apartment">Квартира</label>
                                <input id="apartment" type="text">

                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="problem">
                <h5>Опишите проблему</h5>
                <div class="flex_row space_between">
                    <div>
                        <div class="flex_row_bottom space_between">
                            <div class="upper_label">
                                <label for="problem_title">Суть проблемы</label>
                                <input id="problem_title" type="text">
                            </div>
                            <div class="relative">
                                <select class="down-arrow" id="category" type="select">
                                    <option value="" selected>Выберите категорию</option>
                                    <option value="1">ЖКХ</option>
                                    <option value="2">Газовая служба</option>
                                </select>
                                <label for="category"
                                       class="triangle"></label>
                            </div>
                        </div>
                        <div class="upper_label desc">
                            <label for="description">Подробное описание</label>
                            <textarea name="description" id="description" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="send_group flex_column hor_center space_between">
                        <div>
                            <div class="button_group flex_column hor_center">
                                <p class="title">Прикрепите фото</p>
                                <p class="desc">Список прикреплённых фото</p>
                                <input type="button" value="Выбрать фото">
                            </div>
                            <div class="button_group flex_column hor_center ">
                                <p class="title">Прикрепите видео</p>
                                <p class="desc">Список прикреплённых видео</p>
                                <input type="button" value="Выбрать видео">
                            </div>
                        </div>
                        <input class="send_btn" type="button" value="Отправить" onclick="sendClaim()">
                    </div>
                </div>
                <div>

                </div>
            </div>
        </form>
    </div>
</section>

<div class="popup flex_row hor_center vert_center">
    <div class="confirm_request flex_column hor_center">
        <div class="close">
            <a href=""><img src="../images/delete-button.png" alt="close">
            </a>
        </div>
        <h4>Спасибо!</h4>
        <h5>Заявка № 98090-8к</h5>
        <p>успешно отправлена на рассмотрение</p>
        <form action="" class="flex_column hor_center feedbaks feedback_variants">
            <p>Куда отправить ответ?</p>
            <div class="feedback_type flex_row space_between feedbaks">
                <div>

                    <input id="email" type="checkbox" name="isEmail">
                    <label for="email">Письмо на e-mail</label>
                </div>
                <input type="text" name="email">
            </div>
            <div class="feedback_type flex_row space_between feedbaks">
                <div>

                    <input id="sms" type="checkbox" name="isSms">
                    <label for="sms">СМС на телефон</label>
                </div>
                <input type="text" name="sms">
            </div>
            <input type="submit" class="send_btn" value="Подтвердить">
        </form>
        <div class="flex_column hor_center new_request">
            <p>Хотите оставить заявку ещё?</p>
            <input type="button" class="register_button" value="Зарегистрироваться">
            <input type="button" class="non_login_button" value="Новая быстрая заявка">
        </div>

    </div>
</div>

<script src="../js/main.js"></script>
</body>
</html>
